NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# used for development, like testing on different devices in the same network
NEXT_PUBLIC_CROSS_ORIGIN=http://your-local-ip:3000

NEXT_PUBLIC_IMAGE_DOMAIN=res.cloudinary.com
NEXT_ENV=development

# NextAuth configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret

# Google OAuth credentials
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret